.button{
   
    background-color: var(--color-black);
    color: var(--color-primary);
    height: 47px;
    width: 170px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.25%;
    border-radius: 8px;
    align-items: center;
    display: grid;
    gap: 10px ;
    font-family: 'Poppins' sans-serif;
}

.move{
    padding:10px 30px;
}